.ratingDiv{
    height: auto;
    background-color: #fff;
    margin-top: 50px;
    padding: 10px 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    text-align: center;
}
.active{
    color: yellow;
}
.inactive{
    color: black;
}